#Ignore output Files
*.o
*.dep
*.scvd
*.axf
*.lnp
*.iex
*.htm
*.map
**/Objects/**
**/Listings/**

#Ignore project files
*.uvguix.*

#Ignore pdfs
*.pdf

#Ignore Deliverables
*.zip

#Ignore VsCode files
.vscode